# Environment Variables
# Copy this file to .env and fill in the values

# App
VITE_APP_NAME=Taste Out
VITE_APP_URL=http://localhost:5173

# Contact
VITE_CONTACT_EMAIL=info@tasteout.com
VITE_CONTACT_PHONE=+5689 2589 6325
